body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #dc3545;
    /* Красный для удаления */
    margin-top: 50px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #dc3545;
    /* Красный для подтверждения удаления */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #c82333;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #28a745;
    /* Зеленый для отмены */
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}